<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CounterApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-counter
    heading="Nové počítadlo"
    (saved)="onSaved($event)"
  ></app-counter>

  @if (savedCounters.length > 0) {
    <ion-list>
      <ion-list-header>
        <ion-label>Uložená počítadla</ion-label>
      </ion-list-header>

      @for (counter of savedCounters; track counter.id) {
        <ion-item>
          <ion-label>
            <h2>{{ counter.name }}</h2>
            <p>{{ counter.id }}</p>
          </ion-label>
          <ion-note slot="end">{{ counter.value }}</ion-note>
        </ion-item>
      }
    </ion-list>
  } @else {
    <p class="empty-state">
      Zatím nebylo uloženo žádné počítadlo.
    </p>
  }
</ion-content>